In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Netflix.csv")
df.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User ID            2500 non-null   int64
 1   Subscription Type  2500 non-null   object
 2   Monthly Revenue    2500 non-null   int64
 3   Join Date          2500 non-null   object
 4   Last Payment Date  2500 non-null   object
 5   Country            2500 non-null   object
 6   Age                2500 non-null   int64
 7   Gender             2500 non-null   object
 8   Device             2500 non-null   object
 9   Plan Duration      2500 non-null   object
dtypes: int64(3), object(7)
memory usage: 195.4+ KB

In [4]:
df["Join Date"]=pd.to_datetime(df["Join Date"])
df["Last Payment Date"]=pd.to_datetime(df["Last Payment Date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User ID            2500 non-null   int64
 1   Subscription Type  2500 non-null   object
 2   Monthly Revenue    2500 non-null   int64
 3   Join Date          2500 non-null   datetime64[ns]
 4   Last Payment Date  2500 non-null   datetime64[ns]
 5   Country            2500 non-null   object
 6   Age                2500 non-null   int64
 7   Gender             2500 non-null   object
 8   Device             2500 non-null   object
 9   Plan Duration      2500 non-null   object
dtypes: datetime64[ns](2), int64(3), object(5)
memory usage: 195.4+ KB

C:\Users\Pc\AppData\Local\Temp\ipykernel_1168\4034412371.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Join Date"]=pd.to_datetime(df["Join Date"])
C:\Users\Pc\AppData\Local\Temp\ipykernel_1168\4034412371.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Last Payment Date"]=pd.to_datetime(df["Last Payment Date"])

In [5]:
df["Join Date"].dt.month

0        1
1        5
2        2
3       10
4        1
        ..
2495     7
2496     4
2497     9
2498    12
2499     8
Name: Join Date, Length: 2500, dtype: int32

In [6]:
df["Join Date"].dt.month.value_counts()

Join Date
10    418
7     396
6     338
9     306
8     296
5     135
11    122
4     108
3     103
12     98
2      92
1      88
Name: count, dtype: int64

In [7]:
df.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,2022-01-15,2023-10-06,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,2021-05-09,2023-06-22,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,2023-02-28,2023-06-27,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,2022-10-07,2023-06-26,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,2023-01-05,2023-06-28,Germany,33,Male,Smartphone,1 Month

In [9]:
df["day"]=df["Last Payment Date"]-df["Join Date"]
df.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration,day
0,1,Basic,10,2022-01-15,2023-10-06,United States,28,Male,Smartphone,1 Month,629 days
1,2,Premium,15,2021-05-09,2023-06-22,Canada,35,Female,Tablet,1 Month,774 days
2,3,Standard,12,2023-02-28,2023-06-27,United Kingdom,42,Male,Smart TV,1 Month,119 days
3,4,Standard,12,2022-10-07,2023-06-26,Australia,51,Female,Laptop,1 Month,262 days
4,5,Basic,10,2023-01-05,2023-06-28,Germany,33,Male,Smartphone,1 Month,174 days

In [10]:
df["Subscription Type"].value_counts()

Subscription Type
Basic       999
Standard    768
Premium     733
Name: count, dtype: int64

In [11]:
df.groupby("Subscription Type")["Monthly Revenue"].sum()

Subscription Type
Basic       12469
Premium      9229
Standard     9573
Name: Monthly Revenue, dtype: int64

In [12]:
df["Monthly Revenue"].value_counts()

Monthly Revenue
12    455
14    431
13    418
10    409
15    399
11    388
Name: count, dtype: int64

In [13]:
df.groupby("Subscription Type")["Monthly Revenue"].mean()

Subscription Type
Basic       12.481481
Premium     12.590723
Standard    12.464844
Name: Monthly Revenue, dtype: float64

In [15]:
df["Country"].value_counts()

Country
United States     451
Spain             451
Canada            317
United Kingdom    183
Australia         183
Germany           183
France            183
Brazil            183
Mexico            183
Italy             183
Name: count, dtype: int64

In [16]:
df[df["Subscription Type"]=="Basic"]["Country"].value_counts()

Country
United States     199
Italy             176
Germany           149
Brazil            146
Canada            145
Spain             110
France             36
Australia          31
Mexico              4
United Kingdom      3
Name: count, dtype: int64

In [17]:
df[df["Subscription Type"]=="Premium"]["Country"].value_counts()

Country
Spain            212
France           147
United States    145
Australia        101
Canada            88
Brazil            33
Italy              4
Germany            3
Name: count, dtype: int64

In [18]:
df[df["Subscription Type"]=="Standard"]["Country"].value_counts()

Country
United Kingdom    180
Mexico            179
Spain             129
United States     107
Canada             84
Australia          51
Germany            31
Brazil              4
Italy               3
Name: count, dtype: int64

In [19]:
df["Device"].value_counts()

Device
Laptop        636
Tablet        633
Smartphone    621
Smart TV      610
Name: count, dtype: int64

In [20]:
df["Plan Duration"].unique()

array(['1 Month'], dtype=object)

In [21]:
df["Plan Duration"]=28
df.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration,day
0,1,Basic,10,2022-01-15,2023-10-06,United States,28,Male,Smartphone,28,629 days
1,2,Premium,15,2021-05-09,2023-06-22,Canada,35,Female,Tablet,28,774 days
2,3,Standard,12,2023-02-28,2023-06-27,United Kingdom,42,Male,Smart TV,28,119 days
3,4,Standard,12,2022-10-07,2023-06-26,Australia,51,Female,Laptop,28,262 days
4,5,Basic,10,2023-01-05,2023-06-28,Germany,33,Male,Smartphone,28,174 days